.chatRoom {
    flex: 4;
}

.message-input {
    background-color: #a08a9d;
    padding: 1rem;
}

.message-list {
    background-color: #a08a9d; /* Apply background color here */
    padding: 10px;
}

.noRoomsStyle {
    color: #3c2349;
    font-size: xx-large;
    font-weight: bold;
}

.no-rooms-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
