.container{
  height: 100vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  display: flex;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: .5rem;
}

.backgroundStyle{
  background-color: #a08a9d;
}