::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: .5rem;
}

.backgroundStyle{
  background-color: #a08a9d;
}

@media (max-width: 768px) {
  .col-2 {
    display: none;
  }
  .col-10 {
    width: 100%;
  }
}
